# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://user:password@host:port/database?schema=name"


# This secret is for testing only; We must always renew every month; Must contain 32 characters;
# Use: https://passwords-generator.org/  with 32 characters configurations
JWT_SECRET = "generate token"


#Config e-mail; Example account mail test, create: https://ethereal.email/
HOST_MAIL = "host"
PORT_MAIL = "port"
USER_MAIL = "user"
PASSWORD_MAIL = "password"